# IDE
.idea/
*.iml

# Gradle
.gradle/
**/build/
local.properties

# Firebase config (important!)
app/google-services.json

# Native Build
.cxx/
.externalNativeBuild/

# OS-specific
.DS_Store
Thumbs.db

# Android Studio caches
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Capture folder
captures/

# Logs and crash reports
*.log
